extends layout

block content
  h1= title
  p use the form below to edit this contact.
  hr
  form(method='POST', action=`/contacts/${contact.id}/edit`)
    input(type='text' name='contactFirstName' value=contact.firstName)
    br
    br
    input(type='text' name='contactLastName' value=contact.lastName)
    br
    br
    input(type='text' name='contactEmail' value=contact.email)
    br
    br
    textarea(name="contactNotes", cols="30", rows="10", value= contact.notes) 
    br
    br
    br
    | 
    button(type='submit') Save Changes
    | 
    a(href='/contacts') Cancel 
  if msg
    p(class='redText')= msg