extends layout

block content
  .pt-4
  .container
  .text-center
    h1= title
    p Are you sure you want to delete the following contact?
    hr
    form(method='POST', action=`/contacts/${contact.id}/delete`)
      p= `${contact.firstName} ${contact.lastName}`
      p= contact.email
      p Last Edited: #{contact.date}
      p= contact.notes
      .pt-4 
      button.btn.btn-primary.btn-danger(type='submit') Delete Contact
      | 
      a.btn.btn-secondary.btn-sm(href='/contacts') Cancel 
  .pt-4
  div.fixed-bottom.bg-white
    hr.mt-0
    footer.small.fst-italic.text-center
      p Copyright 2024. Angela Petrone.


